.assort-view {
	background-color: #F2F2F2;
	padding-top: 2.8125rem;
	padding-bottom: 3.125rem;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

.assort-view>.side-view {
	height: 100%;
	background-color: white;
	width: 5.9375rem;
	float: left;
	padding: 0.9375rem;
	box-sizing: border-box;
}

.assort-view>.side-view>.item {
	color: black;
	font-size: 0.75rem;
	height: 1.625rem;
	line-height: 1.625rem;
	border-radius: 0.75rem;
	text-align: center;
	margin-bottom: 0.9375rem;
}

.assort-view > .side-view > .active {
	background-color: black;
	color: white;
}

.assort-view>.main-view {
	width: 16.25rem;
	height: 100%;
	float: left;
	padding: 0.625rem;
	overflow: auto;
}

.assort-view>.main-view>.main-wrapper {	
	width: 100%;
	padding-bottom: 0.625rem;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper {
	background-color: white;
	height: 6.25rem;
	margin-bottom: 0.625rem;
	box-sizing: border-box;
	border-radius: 0.3125rem;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.img {
	float: left;
	width: 5.625rem;
	height: 100%;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.img>img {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.img>span {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
	width: 0;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.content {
	width: 9.6875rem;
	float: left;
	margin-top: 0.8125rem;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.content > .name {
	font-size: 0.75rem;
	line-height: 1.0625rem;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.content > .old-price {
	font-size: 0.75rem;
	line-height: 2.0625rem;
	text-decoration: line-through;
	color: #BBBBBB;
}

.assort-view>.main-view>.main-wrapper>.goods-wrapper>.content > .price {
	font-size: 0.6875rem;
	color: red;
}